/*-----------------------------*/
/*-----------Index------------
0.General
1:Header
2:Slider
3:Buscador
4:Seccion Novedades
5:Parallax
6:Footer
*/
/*-----------------------------*/


/*-----------------------------*/
/*-----------General------------*/
/*-----------------------------*/


body {
    background-image:url("../img/back.png");
}

.container-fluid {
    width: 100%;
    padding: 0em 0em 0em 0em;
    margin-right: 0em;
}


/*-----------------------------*/
/*-----------Header------------*/
/*-----------------------------*/


.header-title {
    padding: 1em 0em 1em 0em;
    background-color:#e9ecef;
    text-align:center
}

.logo img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
    
}

.header-title h1{
    font-family: 'Lobster', cursive;
    
}

@media (min-width:992px) and (max-width:1920px){
    .header-title h1 {
        font-size: 4em;
    }
}

@media (min-width:768px) and (max-width:991px){
    .header-title h1 {
        font-size: 3.5em;
    }
}

@media (max-width:767px){
    .header-title h1  {
        font-size: 3em;
    }
}

    
@media (max-width:479px){
    .header-title h1  {
        font-size: 2em;
    }
}




/*------Botones del header-----*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
}

/*---Botones de redes sociales---*/



.fa {
    float:left;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}


/*-----------------------------*/
/*------------Slider-----------*/
/*-----------------------------*/

.row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right:0px;
     margin-left: 0px; 
}


.carousel {
	margin-top:15px;		
    padding-top:0px;
    padding-bottom:0px;
    background-color:Orange;
    margin-right:1em;
    padding-right: 1em;
}

@media (max-width:767px){
    .carousel-item h1   {
        font-size: 2em;
    }

    .carousel-item h2   {
        font-size: 1.5em;
    }
}

@media (max-width:479px){
    .carousel-item h1   {
        font-size: 1.5em;
    }

    .carousel-item h2   {
        font-size: 1em;
    }
}

 
/*-----------------------------*/
/*----------Buscador-----------*/
/*-----------------------------*/

input.grande[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    background-image:url("../img/lupa.png");
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.grande[type=text]:focus {
    width: 30%;
    background-color: #000000;
    color:white;
}

.buscador{
    background-color: gray;
    width: 100%;
    height: 1em;
}

@media (min-width:992px) and (max-width:4000px){
    .boton2{
       display:none;
    }
}



@media (min-width:0px) and (max-width:991px){
    .boton{
       display:none;
    }

  
    
    input.pequeño {
        background-color: white;
        cursor: text;
        padding: 1px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }

    div.boton2 button {
        float: left;
        width: 20%;
        height:1.8em;
        padding: 0px 0px ;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }
    
    div.boton2 button:hover {
        background: #0b7dda;
    }
    
    div.boton2:after {
        content: "";
        clear: both;
        display: table;
    }
}


/*-----------------------------*/
/*------Seccion novedades------*/
/*-----------------------------*/

.cards  {
    margin: 0em;
    width: 100%;
    
    
}

.novedades {
    background-color:black;
    margin-top:1em;
    
}

@media (min-width:768px) and (max-width:991px){
    .novedades  {
        padding:0em 6em 1em 6em;
    }
}

@media (min-width:0px) and (max-width:767px){
    .novedades  {
        padding:0em 0em 1em 3em;
    }
}

.novedades h3 {
    color:orange;
    align-self: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 5px 10px 16px 5px rgba(255,35,0,1);
}

@media (min-width:992px) and (max-width:1920px){
    .card h4 {
        font-size: 1.6em;
    }
    
}
    
@media (min-width:768px) and (max-width:991px){
    .card h4 {
        font-size: 2em;
    }
    .card {
        margin:0em 0.5em 0.5em 0em
    }
    .cards{
        padding: 0em 0em 0em 6em
    }
}   
    
@media (max-width:767px){
    .card h4  {
        font-size: 1em;
    
    }
    .card p  {
        font-size: 0.85em;
    
    }

    .card {
        margin:0em 0.5em 0.5em 0em
    }
}

    
@media (max-width:479px){
    .card h4  {
        font-size: 0.8em;
    }
    .card {
        margin:0em 0.5em 0.5em 0em
    }

    .card p  {
        font-size: 0.6em;
    }
}


img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.container {
    padding: 2px 16px;
    
}	

/*-----------------------------*/
/*--------Parallax css---------*/
/*-----------------------------*/
.parallax {
    background-image: url("../img/parallaxfondo.jpeg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0.5em;
    padding:0.5em;
}

.parallax_div1{
    height:3em;
    position:relative;
}
.parallax_div1 h1{
    text-align: center;
}

.parallax_div2{

    height:500px;
    opacity: 0.5;
    background-color:rgb(208, 255, 0);
    box-shadow: 5px 10px 16px 5px rgb(43, 255, 0);
    text-align: center;
    font-size:20px;
    font-family: 'Press Start 2P', cursive;
    float:center;
    border-style: dotted solid dotted solid;
    border-color: green yellowgreen green yellowgreen;
    border-width: 0.1em
}

.parallax_div2:hover{
opacity:1;
}

.parallax transbox {
    width:20%;
    height:40%;
    background-color: teal;
    position: relative;
    left:40%;
    top:1em;
}

div.transbox {
    background-color: #bbff00;
    border: 1px solid #02722d;
    opacity: 0.7;
    border-style: solid;
    border-color: green yellowgreen green yellowgreen;
    border-width: 0.4em
}

div.transbox h1 {
    margin: 5%;
    font-weight: bold;
    color: #1d3300;
    text-align: center;
    font-family: 'Gugi', cursive;
}



/*-----------------------------*/
/*-----------Footer------------*/
/*-----------------------------*/
footer {
    bottom:0;
    left:0;
    padding: 1em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
}