/*-----------------------------*/
/*-----------Footer------------*/
/*-----------------------------*/
footer {
    bottom:0;
    left:0;
    padding: 1em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
}