/*-----------------------------*/
/*-----------Header------------*/
/*-----------------------------*/

.header{

    /*------Botones del header-----*/

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;
        overflow: hidden;
        background-color: #333;
        width: 100%;
        
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: orange;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #000;
    }

    .header-title {
        padding: 1em 0em 1em 0em;
        background-color:#e9ecef;
        text-align: center;

       

        .logo img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
            float: left;
            width: 100px;
            height: 100px;
            background: #555;
        }
    }

    .header-sociales{

        .fa {
            color: white;
            float:left;
            font-size: 25px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 25%;
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-facebook {
            background: #3B5998;
        }
        
        .fa-twitter {
            background: #55ACEE;
        }
        
        .fa-google {
            background: #dd4b39;
        }
        
        .fa-youtube {
            background: #bb0000;
        }
    }
    
    @include respond-to("lg"){
        .header-title h1 {
            font-size: 4em;
        }
    }

    @include respond-to("md"){
        .header-title h1 {
            font-size: 4em;
        }
    }

    @include respond-to("smx"){
        .header-title h1 {
            font-size: 3.5em;
        }
    }

    @include respond-to("sm"){
        .header-title h1  {
            font-size: 3em;
        }
    }
    
    @include respond-to("xs"){
        .header-title h1  {
            font-size: 1.5em;
        }
    }
}



/*
@media (min-width:992px) and (max-width:1920px){
    .header-title h1 {
        font-size: 4em;
    }
}

@media (min-width:768px) and (max-width:991px){
    .header-title h1 {
        font-size: 3.5em;
    }
}


@media (max-width:767px){
    .header-title h1  {
        font-size: 3em;
    }
}

  
@media (max-width:479px){
    .header-title h1  {
        font-size: 2em;
    }
}
*/



/*---Botones de redes sociales---*/
