/*-----------------------------*/
/*----------Buscador-----------*/
/*-----------------------------*/

input.search_computer[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    background-image:url("../img/lupa.png");
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    &:focus {
        width: 30%;
        background-color: #000000;
        color:white;
    }
}

.buscador{
    background-color: gray;
    width: 100%;
    height: 1em;
}

@include respond-to("md"){
    .button_movile{
        display:none;
    }
}

@include respond-to("lg"){
    .button_movile{
        display:none;
    }
}

@include respond-to("smx"){
    .button_computer{
        display:none;
    }
}

@include respond-to("sm"){
    .button_computer{
        display:none;
    }

@include respond-to("xs"){
    .button_computer{
        display:none;
    }
}
   
     input.search_movile {
         background-color: white;
         cursor: text;
         padding: 1px;
         border-width: 2px;
         border-style: inset;
         border-color: initial;
         border-image: initial;
    }
 
     div.button_movile button {
         float: left;
         width: 20%;
         height:1.8em;
         padding: 0px 0px ;
         background: #2196F3;
         color: white;
         font-size: 17px;
         border: 1px solid grey;
         border-left: none;
         cursor: pointer;
         &:hover {
             background: #0b7dda;
        }
         
         &:after {
             content: "";
             clear: both;
             display: table;
        }
    }
}

/*
@media (min-width:992px) and (max-width:4000px){
    .boton2{
       display:none;
    }
}

@media (min-width:0px) and (max-width:991px){
    .boton{
       display:none;
    }

  
    
    input.pequeño {
        background-color: white;
        cursor: text;
        padding: 1px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }

    div.boton2 button {
        float: left;
        width: 20%;
        height:1.8em;
        padding: 0px 0px ;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        &:hover {
            background: #0b7dda;
        }
        
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
}
*/