/*-----------------------------*/
/*------Seccion novedades------*/
/*-----------------------------*/

.cards  {
    margin: 0em;
    width: 100%;    
}

.novedades {
    background-color:black;
    margin-top:1em;   
}

img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.container {
    padding: 2px 16px;   
}	

.novedades h3 {
    color:orange;
    align-self: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 5px 10px 16px 5px rgba(255,35,0,1);
}

/*responsive*/

@include respond-to("xs"){
    .card h4  {
        font-size: 0.8em;
    }
    .card {
        margin:0em 0.5em 0.5em 0em
    }

    .card p  {
        font-size: 0.6em;
    }
}

@include respond-to("sm"){
    .novedades  {
        padding:0em 0em 1em 3em;
    }
    .card h4  {
        font-size: 1em;
    
    }
    .card p  {
        font-size: 0.85em;
    
    }

    .card {
        margin:0em 0.5em 0.5em 0em
    }
    
}

@include respond-to("smx"){
    .novedades  {
        padding:0em 6em 1em 6em;
    }
    .card h4 {
        font-size: 2em;
    }
    .card {
        margin:0em 0.5em 0.5em 0em
    }
    .cards{
        padding: 0em 0em 0em 6em
    }
}

@include respond-to("md"){
    .card h4 {
        font-size: 1.6em;
    }
}

/*
@media (min-width:768px) and (max-width:991px){
    .novedades  {
        padding:0em 6em 1em 6em;
    }
}

@media (min-width:0px) and (max-width:767px){
    .novedades  {
        padding:0em 0em 1em 3em;
    }
}

@media (min-width:992px) and (max-width:1920px){
    .card h4 {
        font-size: 1.6em;
    }
    
}
 
@media (min-width:768px) and (max-width:991px){
    .card h4 {
        font-size: 2em;
    }
    .card {
        margin:0em 0.5em 0.5em 0em
    }
    .cards{
        padding: 0em 0em 0em 6em
    }
}   

@media (max-width:767px){
    .card h4  {
        font-size: 1em;
    
    }
    .card p  {
        font-size: 0.85em;
    
    }

    .card {
        margin:0em 0.5em 0.5em 0em
    }
}

@media (max-width:479px){
    .card h4  {
        font-size: 0.8em;
    }
    .card {
        margin:0em 0.5em 0.5em 0em
    }

    .card p  {
        font-size: 0.6em;
    }
}
*/