/*-----------------------------*/
/*--------Parallax css---------*/
/*-----------------------------*/
.parallax {
    background-image: url("../img/parallaxfondo.jpeg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0.5em;
    padding:0.5em;
}

.parallax_title{
    height:3em;
    position:relative;
}
.parallax_title h1{
    text-align: center;
}

.parallax_content{

    height:500px;
    opacity: 0.5;
    background-color:rgb(208, 255, 0);
    box-shadow: 5px 10px 16px 5px rgb(43, 255, 0);
    text-align: center;
    font-size:20px;
    font-family: 'Press Start 2P', cursive;
    float:center;
    border-style: dotted solid dotted solid;
    border-color: green yellowgreen green yellowgreen;
    border-width: 0.1em
}

.parallax_content:hover{
opacity:1;
}

.parallax transbox {
    width:20%;
    height:40%;
    background-color: teal;
    position: relative;
    left:40%;
    top:1em;
}

div.transbox {
    background-color: #bbff00;
    border: 1px solid #68e700;
    opacity: 0.7;
    border-style: solid;
    border-color: green yellowgreen green yellowgreen;
    border-width: 0.4em
}

div.transbox h1 {
    margin: 5%;
    font-weight: bold;
    color: #1d3300;
    text-align: center;
    font-family: 'Gugi', cursive;
}