/*-----------------------------*/
/*------------Slider-----------*/
/*-----------------------------*/

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right:0px;
     margin-left: 0px;
    .carousel {
        margin-top:15px;		
        padding-top:0px;
        padding-bottom:0px;
        background-color:hsl(39, 100%, 50%);
        margin-right:1em;
        padding-right: 1em;

            @include respond-to("xs"){
                .carousel-item h2   {
                    font-size: 1.5em;
                }
            }
           
           @include respond-to("sm"){
             .carousel-item h1   {
                   font-size: 2em;
               }
           
               .carousel-item h2   {
                   font-size: 1.5em;
               }
           }
    }
}



/*Probando mixins*/



/*
@media (max-width:767px){
    .carousel-item h1   {
        font-size: 2em;
    }

    .carousel-item h2   {
        font-size: 1.5em;
    }
}

@media (max-width:479px){
    .carousel-item h1   {
        font-size: 1.5em;
    }

    .carousel-item h2   {
        font-size: 1em;
    }
}
*/