.formulario{
width: 100%;
height:100%;
background-color: hsl(54, 100%, 66%);
text-align: center;

}
.corrector{
    text-align: center;
    color: hsl(120, 100%, 25%);
}
.correctorError{
    text-align: center;
    color: hsl(0, 100%, 25%);
}